/* Asciidoctor default stylesheet | MIT License | http://asciidoctor.org */
@import url(https://fonts.googleapis.com/css?family=Bitter|Lato|Montserrat);
@import "asciidoctor.css"; /* Default asciidoc style framework - important */
@import "gh-pages.css";

/* CUSTOMISATIONS */
:root{
    --bgcolor:#FFFFFF; /* White */
    --textcolor:#073642; /* Grey */

    --selectcolor:#6C71C4; /* Violet */
    --tablecolor:#F9F9F9; /* White Grey */
    --fgcolor:#FdF6F3; /* White Yellow */
    --figurecolor:#E37222; /* Tangerine */

    --highlightcolor:#294172; /* Fedora Dark Blue */
    --codebgcolor:#EFF8FF; /* White Blue */

    --primarycolor:#E37222; /* Tangerine */
    --secondarycolor:#07889B; /* Teal */
    --tertiarycolor:#66B9BF; /* Powder */
}

/* Table of Content */
#toc{background-color:var(--tablecolor) !important; width: 40%}
#toctitle{color:var(--primarycolor) !important; font-family:"Montserrat",sans-serif !important; font-weight: 600;
    text-align: center}
/*#toc a:link{color:var(--primarycolor) !important}*/
#toc a:active{color:var(--selectcolor) !important}
#toc a{color:var(--secondarycolor) !important; font-family:"Bitter",sans-serif}

/* Text styles */
body{font-family:"Lato",sans-serif; background-color: var(--bgcolor); color:var(--textcolor);, font-size: 14pt !important}

/* Headers */
h1,h6>.link{color:var(--highlightcolor) !important; font-family:"Montserrat",sans-serif;}
h2>.link, h4>.link{color:var(--primarycolor) !important; font-family:"Montserrat",sans-serif}
h3>.link, h5>.link{color:var(--secondarycolor) !important; font-family:"Montserrat",sans-serif}

/* Paragraph */
p{font-family:"Lato",sans-serif !important; font-size: 14pt !important}
/* Quote? */
blockquote{color:var(--highlightcolor) !important}
.quoteblock blockquote:before{color:var(--highlightcolor)}
/* Code */
code{color:var(--highlightcolor); font-weight: 700 !important;
    background-color: var(--codebgcolor) !important}
/* Text highlighting color? */
mark{background-color: var(--highlightcolor)}
/* Figure */
.title{color:var(--figurecolor) !important; font-family:"Bitter",sans-serif !important}
/* Thematic break */
hr{border: 1px solid; border-radius: 5px; border-color: var(--textcolor)}

/* Table */
th,td.tableblock{border-style:solid !important; border-color:var(--tertiarycolor) !important;
    border-width:1px !important; color:var(--textcolor) !important}
th{color:var(--secondarycolor) !important; background-color: var(--fgcolor) !important}
/* Note & Tip */
td{border-style:outset !important; border-color:var(--tertiarycolor) !important;
    color:var(--textcolor) !important; border-width:5px !important}
tr:nth-child(even) {background-color: var(--fgcolor) !important}
tr:nth-child(odd) {background-color: var(--tablecolor) !important}

/* Responsiveness fixes */
video {
    max-width: 100%;
}

@media print {
    a[href]::after {
        content: none !important;
    }
}

@media all and (max-width: 600px) {
    table {
        width: 55vw !important;
        font-size: 3vw;
    }
}
